# Merge this section into config/jaci.yaml before building WPS.
# The ref is fixed to the upstream WPS 4.6.0 release integration commit.
# Determine configure_option from the serial GRIB2 choice shown on JACI.

wps:
  enabled: true
  repo: https://github.com/wrf-model/WPS.git
  ref: 335c76a111f84503e8b963abaf273ea8053645bb
  version: 4.6.0
  configure_option: ""
  compile_target: ungrib
  source_dir:
  install_dir:
  netcdf_compat_dir:
  jasper_root:
  png_root:
  zlib_root:
  ungrib_name: ungrib.exe
  link_grib_name: link_grib.csh
